body{ /*colocar a imagem de fundo*/
    background-image: url('astronauta.jpg');
    background-repeat: no-repeat;
    background-size:100%; /*a imagem vai ocupar toda a tela*/
}

.menu{
	background-color:rgba(255,255,255, 0.1); /*cor e transparência do menu*/
	height:45px; /*altura do menu*/
	position: fixed; /*Antes tava "fixed", que faz com que o menu não desapareça da tela. Se for pra ser assim, coloca denovo.*/
    top: 0; /*Só  precisa disso pra posicionar no topo.*/
	width:100%; /*o menu ocupar toda a largura da tela */
	left:0px;
	font-family:.95em;
	font-size:14px;
	font-weight:bold;
    /*Isso centraliza os componentes*/
    display: flex;
    justify-content: center; /*horizontalmente*/
    align-content: center; /*verticalmente*/
    z-index:2;
}

.menu ul li{
	width:215px;
}

.menu ul{
	padding:0px; /*colocar o submenu alinhado com o menu*/
	padding:9px;
	margin:0px;
}

/*fazer o submenu aparecer somente quando passar
o mouse em cima do ícone --- comeca aqui */
.menu ul ul{
	display:none; /*faz os textos do menu desaparecerem*/
	line-height:25px;
}
.menu ul li:hover > ul{
	display:block; /*retira a bolinha da lista e deixa os textos do menu um embaixo do outro*/
}
/*termina aqui*/
 
.menu li{
	float:left;
	display:inline-block; /*retira a bolinha da lista e deixa os textos do menu um do lado do outro*/
}

.menu a{
	font-size: 22px;
    font-family: .95em;
    text-decoration:none; /*tira o sublinhado do texto*/
	color:white;
	padding:8px 8px 8px 8px;
    padding-left:.5em;
 }

.menu a:hover{
    background-color: blue;/*rgba(255,255,255, 0.20);*/ 
    height:45px;
}

a.feir{
    color:white;
    font-size: 1.47em;
    font-weight: 400;
}

.menu a:hover{
	color:white;
    background:#15418c;
}

#corpo{
    position: absolute;
    top: 75px;
    left: 20%; /*tem que colocar uma distância à esquerda da tela*/
    background: rgba(255,255,255,0.6);
    width: 60%;
    height: 100%;
    z-index: 1;
    
}